<footer class="bg-success text-dark text-dark">
        <div class="container p-4">
            <section class="text-center mb-4">
                <a class="btn btn-outline-light btn-floating m-1" href="https://t.me/akella_mp3" role="button"
                ><i class="fab fa-telegram"></i
                ></a>
                <p>Контакты: +998 9999999999</p>
            </section>
            <section class="">
                <form action="">
                    <div class="row d-flex justify-content-center">
                        <div class="col-auto">
                        </div>
                        <div class="col-md-5 col-12">
                        </div>
                        <div class="col-auto">
                        </div>
                    </div>
                </form>
            </section>
            <section class="mb-4">
                <p>
                    ПоедимКа: Кулинарный блог который был создан как экзаминационный проект. Пользователи
                    регистрируются и добавляют посты с блюдами где есть их рецепт и шаги приготовления.
                    Любой кто захочет что-то новенького или необычного или просто хочет сам приготовить независимо
                    от того умеет ли готовить или нет найдет тут то что искал.
                </p>
            </section>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Кулинарный блог:
            <a class="text-dark" href="{% url 'index' %}">ПоедимКа</a>
        </div>
    </footer>